<mat-card class="event-card" *ngIf='event$ | async as event'>
    <mat-card-title-group>
        <mat-card-title>{{event.name}}</mat-card-title>
        <mat-card-subtitle>{{event.type}}</mat-card-subtitle>
        <img mat-card-md-image [src]="event.imageURL">
    </mat-card-title-group>
    <mat-card-content>
        <p [innerHTML]='event.descr'></p>
    </mat-card-content>
    <mat-card-actions align='end'>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <button mat-button>DIE!</button>
    </mat-card-actions>
    <mat-card-footer>
        <span class='start-date'>{{event.dateStart | date}}</span>
        <span class='end-date'>{{event.dateEnd | date}}</span>
    </mat-card-footer>
</mat-card>
