<mat-card class="event-card">
    <mat-card-header>
        <div mat-card-avatar class="event-header-image"></div>
        <mat-card-title>{{event.name}}</mat-card-title>
        <mat-card-subtitle>{{event.type}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="event.imageURL">
    <mat-card-content>
        {{event.descr | shortText: maxLength}}
        <span>...</span>
    </mat-card-content>
    <mat-card-actions align='end'>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <button mat-button>DIE!</button>
    </mat-card-actions>
    <mat-card-footer>
        <span class='start-date'>{{event.dateStart | date}}</span>
        <span class='end-date'>{{event.dateEnd | date}}</span>
    </mat-card-footer>
</mat-card>
